//javascript Document
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<title>pRIMERApREBA</title>
	<link href="css.estilos.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1> proyecto empresarial/>
ASCZASC
</body>
</html>
